




/* ------------------------------- container ------------------------------- */

.container-xxl{
    margin-bottom: 10px !important;
}

/* --------------------------------- navbar --------------------------------- */

.navbar-toggler{
    line-height: 0px !important;
    padding: 5px !important;
}
.navbar-toggler-icon{
    font-size: 12px !important;
}
nav svg{
    width: 80%;
}
.mid-section{
    width: 60%;
}




/* ------------------------------ dropdown-menu ----------------------------- */
.dropdown-menu{
    width: 500px ;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

/* --------------------------------- banner --------------------------------- */



.banner-text{
    top:180px;
}

/* --------------------------------- inspire -------------------------------- */

.inspire .card:hover .show{
    visibility:  visible!important;
    text-decoration: underline;
    text-decoration-thickness: 1px;
   
    transition: 1s ease all;
    opacity: 1 !important;
}


/* ---------------------------------- shop ---------------------------------- */

.shop a{
    text-decoration: none;
    
}


/* ------------------------------ sample banner ----------------------------- */
.sample_banner{
    transition: all 1s ease-in-out; 
}
.sample_banner:hover{
    cursor: pointer;
    transform: scale(1.2);
}


/* ---------------------------------- color --------------------------------- */

.color a{
    text-decoration:none ;
}

/* -------------------------------- flooring -------------------------------- */


.flooring_banner .card{
    width: 100%;
    overflow: hidden;
}

.flooring_banner .card img{
    width: 100%;
    height: 100%;
        transition: all 2s ease-in-out;
}
.flooring_banner .card:hover img{
    transform: scale(2,2)
}


/* --------------------------------- footer --------------------------------- */


.footer{
    background-color: #5F6F73!important;
}

@media screen and (max-width:992px){

.banner h1{
    font-size: 2rem !important;
}



.banner button{
    font-size: .8rem !important;
}
.banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

}



@media screen and (max-width:750px){
 

    .navbar-toggler{
        line-height: 0px !important;
        padding: 5px !important;
    }
    .navbar-toggler-icon{
        font-size: 12px !important;
    }
    nav svg{
        width: 80%;
    }
    .mid-section{
        width: 60%;
    }
  
    
}



@media screen and (max-width:550px){
    .banner h1{
        font-size: 1.5rem !important;
    }
    
    
    .banner button{
        font-size: .9rem !important;
    }
    

    
    .navbar-toggler{
        line-height: 0px !important;
        padding: 5px !important;
    }
    .navbar-toggler-icon{
        font-size: 12px !important;
    }
    nav svg{
        width: 80%;
    }
    .mid-section{
        width: 60%;
    }
    .end-section button i{
        line-height: 0px !important;
        font-size: smaller;
    }


    .sample_banner{
        width: 100%;
        overflow: hidden;
    }
    
    .sample_banner img{
        width: 100%;
        height: 100%;
        transform: scale(1,1);
    }

    .complete_message h1{
        font-size: 1.3rem !important;

    }
    .complete_message p{
        font-size: .8rem !important;
    }

    .two_box h5{
        font-size: 1.5rem !important;
    }

    .flooring_banner h1{
        font-size: 1.1rem !important;
    }
    .flooring_banner button{
        font-size: .8rem !important;
    }


}

@media screen and (max-width:358px){
    /* --------------------------------- navbar --------------------------------- */

    .navbar-toggler{
        line-height: 0px !important;
        padding: 3px !important;
    }
    .navbar-toggler-icon{
        font-size: 8px !important;
    }
    .start-section{
        width: 15%;
    }
    .mid-section{
        width: 30%;
    }
    .end-section button i{
        line-height: 0px !important;
        font-size: 8px !important;
    }




    /* --------------------------------- banner --------------------------------- */
    .banner h1{
        font-size: 1rem !important;
    }
    
    .banner-text{
        top:120px;
    }
    .banner button{
        font-size: .5rem !important;
    }


    /* --------------------------------- welcome -------------------------------- */

    .welcome h1{
        font-size: 1.5rem !important;
    }
    .welcome .p{
        font-size: .8rem !important;
    }

    /* ---------------------------- complete message ---------------------------- */

    .complete_message h1{
        font-size: 1rem !important;

    }
    .complete_message p{
        font-size: .5rem !important;
    }

    /* ----------------------------- flooring banner ---------------------------- */

    .flooring_banner h1{
        font-size: 1rem !important;
    }
    .flooring_banner button{
        font-size: .4rem !important;
    }
    
}

